.content {
	margin: auto;
	background-image: url("../images/hero-background@svg.svg"), url("../images/sponsors-graphic@svg.svg"), url("../images/Why now-bg@svg.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat;
	background-position: 0 0, 0px 1200px, 0px, 2400px
}

.main_body {
	text-align: left;
	width: max-content;
	margin: 80px auto 0px auto;
}

.carousel_container {
	width: max-content;
	margin: 80px auto 0px auto;
}

.carousel_container .section_title {
	margin: 20px 20px;
	text-align: left;
}

.agenda_table .section_title {
	width: max-content;
    margin: 80px auto 0px auto;
	text-align: left;
}

.carousel_cell {
	float: left;
	width: 300px;
	height: auto;
	text-align: left;
	margin: 0 20px;
}

.carousel_image {
	width: 300px;
	height: 400px;
}

.carousel_text {
	font-size: 11pt;
	color: #333;
}

.agenda_table {
	margin: 60px auto 20px auto;
}

.agenda_table img {
	width: 980px;
	height: auto;
	margin: 0px auto;
	display: block;
}

.header {
	max-width: 800px;
	margin: 0 auto;
	padding: 0 50px;
}

.table_title {
	width: 980px;
	margin: 80px auto 0px auto;
}

a {
	color: #27D158;
}

h1 {
    font-weight: 600;
}

body {
    font-family: noto, sans-serif;
    margin: 0px;
}