.content {
	margin: auto;
}

.section {
	max-width: 1000px;
	overflow: hidden;
	margin: auto;
}

.section h1 {
	margin-left: 20px;
}

.subtitle_time {
	margin-top: 0px;
	font-size: 11pt;
	color: #333;
	margin-left: 20px;
}

.speaker_cell {
	float: left;
	width: 200px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.speaker_image {
	width: 200px;
	height: 200px;
	border-radius: 8px;
	object-fit: cover;
}

.speaker_name {
	font-size: 13pt;
	font-weight: 600;
}

.speaker_title {
	margin-top: 0px;
	color: #aaa;
	font-size: 11pt;
}

.speaker_topic {
	font-size: 11pt;
}

.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width : 500px) {
	/*.section {
		width: 1000px;
		overflow: hidden;
		margin: auto;
	}*/
	.speaker_cell {
		float: left;
		width: 160px;
		margin-top: 20px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.speaker_image {
		width: 160px;
		height: 160px;
		border-radius: 8px;
		object-fit: cover;
	}
}

h1 {
    font-weight: 600;
}

body {
    font-family: noto, sans-serif;
    margin: 0px;
}