.content {
	margin: auto;
}

.section {
	width: 800px;
	overflow: hidden;
	margin: auto;
}

.subtitle_time {
	margin-top: 0px;
	font-size: 11pt;
	color: #333;
}

.speaker_cell {
	float: left;
	margin-top: 20px;
	margin-right: 40px;
}

.speaker_image {
	width: 200px;
	height: 200px;
	border-radius: 8px;
	object-fit: cover;
}

.speaker_name {
	width: 200px;
	font-size: 13pt;
	font-weight: 600;
}

.speaker_title {
	width: 200px;
	margin-top: 0px;
	color: #aaa;
	font-size: 11pt;
}

.speaker_topic {
	font-size: 11pt;
	width: 200px;
}

.center-cropped {
  width: 200px;
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
    font-weight: 600;
}

body {
    font-family: noto, sans-serif;
    margin: 0px;
}